body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background-color: #FFE6E6;
}
h1{
    color: #000;
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #AD88C6;
    width: 100%;
    height: 110px;
    
}
.footer {
    background-color: #AD88C6;
    width: 100%;
    
    
    display: flex;
    align-items: center;
    
}
.img-del-footer{
    flex: 0 0 auto;
}
.p-del-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 10px;
    
}
.nav img:hover{
    border: 2px solid #804674;
}
.footer img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 10px;
    
}
.footer img:hover{
    border: 2px solid #804674;
}
#conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 20px;
}
.objeto {
    background-color: #F7C8E0;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.objeto:hover{
    background-color: #804674;
    border: none;
    cursor: pointer;

    h1{
        color: white;
    }
    img{
        width: 100%;
        
    }
}

.objeto img{
    width: 90%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #a09d9d;
    
}
.objeto h1 {
    margin: 10px;
    width: 100%;
}